* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*sets background color to light gray*/
body {
    background-color: #d9dcd6;
}
/*sets the header white on a dark blue background*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*sets the font of the horiseon logo to a single color and makes it larger*/
.header h1 {
    display: inline-block;
    font-size: 70px
}
/*moves the nave right and sets the postition and font size*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.header nav ol {
    list-style-type: none;
}
/*sets the nav links into a block line*/
.header nav ol li {
    display: inline-block;
    margin-left: 25px;
}
/*sets color of all <a> lines to white*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*sets the font size to a larger more easy to read size*/
p {
    font-size: 24px;
}
/*sets the large banner image centered on the page and will adjust with screens*/
#bannerimage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size:auto;
    background-position: center;
}
/*moves the content with this id left*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*moves this content right*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*adjusts the article tags with the .content id.*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*sets the content with the .benefits id to sit inside the proper boxes with a blue back gound*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2589bd;
}
/*sets all .benefit-lead classes to 32px and color to white.*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*sets all .benefit-brand classes to 32px and color to white*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*sets all .benefit-cost classes to 32px and color to white*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*sets all .benefit-lead <h3> tags to have a margin of 10px beneath and centers it*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*sets all .benefit-brand <h3> tags to have a margin of 10px and to center them*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*sets all .benefit-cost <h3> tags to have a margin of 10px and centers them*/ 
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*sets all .benefit-lead <img> tags to sit  in background box*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*sets all .benefit-lead <img> tags to sit in backgound box*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*sets all .benefit-cost <img> tags to sit in background box*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*sets .search-engine-optimization class,margin,font/background color*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*sets the .online-reputation-management class,margin,font/background color*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*sets the .social-media-marketing class,margin,font/background color*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*sets the height of the image thats attached to the following id selector*/
.search-engine-optimization img {
    max-height: 200px;
}
/*sets the height of the image attached to the following id selector*/
.online-reputation-management img {
    max-height: 200px;
}
/*sets the heaight of the image attached to the following id selector*/
.social-media-marketing img {
    max-height: 200px;
}
/*sets the <h2> selector under the following class to have a margin beneath of 20px and to have a font size of 36px*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*sets the <h2> selector under  the following class to have a margin beneath of 20px and to have a font size of 36px*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*sets the <h2> selector under the following class to have a margin of beneath of 20px and to habe a font size of 36px*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*sets the footer postion and font shape/size and centers it at the  bottom of the page*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*sets the <h4> tag in the footers font size  to 20px making it smaller*/S
.footer h4 {
    font-size: 20px;
}
